body {
    margin: 0;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 10vh); /* Subtract the height of the footer */
}

@media  screen and (min-aspect-ratio: 1/1) {
    main {
        flex-direction: row;
    }
}

.mainButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10vw;
    margin: 2vh;
    cursor: pointer;
    flex: 1;
    align-self: stretch;
}

#exitButton {
    background-color: #f44336;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(5vh, 7vw);
}

footer .menu {
    display: flex;
    list-style: none;
    height: 100%;
    padding: 0;
    align-items: center;
}
footer .menu-item {
    margin: 3vh 0;
}
footer .menu-item img {
    height: 8vh;
    width: auto;
    max-width: 20vw;
    object-fit: contain;
}

footer #statusIcon {
    display: inline-block;
    width: min(5vh, 10vw);
    height: min(5vh, 10vw);
    background-color: red;
    border-radius: 50%;
}

footer #statusIcon.active {
    background-color: green;
}

.invertColor {
    filter: invert(1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 70, 150);
}
.modal-content {
    background-color: rgb(0, 56, 121);
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
    height: 80%;
    max-width: 100vw;
    max-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.closeButton {
    color: white;
    font-size: 2em;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 10px;
}

.grid-3-x-3 {
    display: grid;
    gap: 10px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-4-x-3 {
    display: grid;
    gap: 10px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
  
.grid-item {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.grid-item img {
    margin: 0 auto;
    width: calc(100% - 1px - 10px); /* full width - border - padding */
    height: calc(100% - 10px - 1rem - 10px - 1px); /* full height - padding - label - label-padding - border */
}

.grid-item span {
    margin-top: 10px;
    font-size: 1rem;
}
  
.selected-grid-item {
    background-color: rgb(81, 142, 255);
}

.history-log {
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    overflow-y: scroll;
}

.settings-flexbox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    align-content: flex-start;
    overflow: auto;
}

.settings-flexbox .grid-item {
    flex: 1 1 calc(33.333% - 20px); /* 3 per row, minus gap */
    max-width: calc(33.333% - 20px);
    box-sizing: border-box;
    margin: 10px 0 0 10px;
    height: calc(33.333% - 20px); /* up to 3 rows */
    max-height: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}